// Terminology Block
.admonition.is-category-terminology {
    background-color: #FFFEDD;
    border-color: #FFEC8B;

    > .admonition-header {
        background-color: #FFEC8B;
        color: black;

        &:before {
        content: "Terminology: ";
        font-family: inherit;
        font-weight: bold;
        }
    }
}

html.theme--documenter-dark .admonition.is-category-terminology {
    border-color: #FFEC8B;
}